.film-cards {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  background-color: #cdd1b9;
  color: #823038;
  margin: 20px;
  padding: 20px;
  align-items: center;
}

.films-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.film-cards h1 {
  color: #823038;
  text-align: center;
  font-size: 1.7rem;
}
